
@media screen and (max-width:767px) {
  
  .container_max{
    width: 100%;
  }

  .container_middle{
    width: 90%;
  }


  #navbar_normal .navbar-brand{
    font-size: 1.1rem;
    }

  .jumbotron_box{
    width: 100%;
  }

  .portfolio{
    padding: 25px 0;
  }

  .portfolio_box {
    padding: 0;
  }

}