
.container_max{
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.container_middle{
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

/* 
    HEADER 
*/

header{
  background-color:#2c3f51;
  height: 60px;
}

header nav{
  height: 100%;
}

header nav .row{
  height: 100%;
}

.title_page_box{
  text-transform: uppercase;
  color: white;
}

.navbar_box{
  justify-content: flex-end;
  align-items: center;
}

#navbar-normal{
  text-transform: uppercase;
}

#navbar-normal ul{
  justify-content: space-between;
  align-items: center;
}

#navbar-normal ul li{
  list-style: none;
  padding: 0 10px;
}

#navbar-normal ul li a{
  text-decoration: none;
  color: white;
}


/* 
    /HEADER 
*/

/* 
    JUMBOTRON 
*/

.jumbotron{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #1abc9c;
  color: white;
}

.jumbotron_box{
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jumbotron_box img{
  height: 140px;
}

.jumbotron_box h1,
.jumbotron_box span {
  text-transform: uppercase;
}

/* 
    /JUMBOTRON 
*/

/* 
  MAIN 
*/

main{
  background-color: white;
  align-items: center;
  flex-direction: column;
}

.portfolio{
  background-color: white;
  width: 100%;
}

.portfolio_item{
  background-color: antiquewhite;
}

.portfolio_title{
  text-align: center;
}

.about{
  width: 100%;
  background-color: #1abc9c;
}

.about_title{
  text-align: center;
}

.about_download{
  text-align: center;
}

.contact_me{
  background-color: white;
  width: 100%;
}

.contact_me{
  text-align: center;
}



/* 
  /MAIN 
*/

/* 
  FOOTER
*/

footer{
  height: 250px;
}

.footer_top{
  height: calc(100% - 60px);
  background-color: #39546d;
}

.footer_bottom{
  height: 60px;
  background-color:#2c3f51;
  color: white;
}

/* 
  /FOOTER
*/